.footer {
    background-color: #515151b4;
    color: #fff;
    padding: 10px ;
    text-align: center;
    align-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}
.Contact {
    display: block;
    position: relative;
    justify-content: center;
    font-weight: bold;
}   
.Contact {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.social-icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.Social-Facebook, .Social-Email {
    max-width: 200px;
}

.Social-Facebook h3, .Social-Email h3 {

    margin-bottom: 10px;
    font-size: 1.2em;
}

.Social-Facebook p, .Social-Email p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.Social-Facebook a, .Social-Email a {
    display: inline-block;
    margin-top: 5px;
}

.Social-Facebook img, .Social-Email img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.hyper-link-facebook, .hyper-link-gmail {
    display: block;
    margin-top: 8px;
    color: #ccc;
    text-decoration: none;
}

.hyper-link-facebook:hover, .hyper-link-gmail:hover {
    color: #000000;
}    



.Social-Facebook, .Social-Email {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 45%; */
    margin-right: 10%;
    margin-left: 10%;
    max-width: 100%;
}



@media screen and (max-width:768px) and (min-width:420px) {

    .footer{
        padding: 10px;
        align-content: center;
        /* content: inherit; */
        
    }

    .footer a{
        padding: 10px;
        align-content: center;
        /* content: inherit; */
        
    }
}